<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><img src="https://i.pinimg.com/originals/27/bd/0b/27bd0ba73edf5b660015dcf88b978c89.png" alt="ok"></h1>
      <p>Login To Sarhad University Account</p>
      <!-- <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a> -->
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
